<title> <%=@user.username %></title>
<h1><%= @user.username %>'s profile page </h1>
<h3>Your Movie List</h3>
<h4> <%
if @user.movies != []
        @user.movies.each do |m| %>
        <%= m.title %> <% @this_movie = m %><br><font size="2px"><%= embed = "<a href='/movies/#{@this_movie.id}/edit'> Edit</a>" %></font><br>
        <form action="/movies/<%=@this_movie.id%>" method="POST" 
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="delete">
        </form><br>
    <% end %>
<% else %>
    <%= @phrase %>
<% end %><br><br>
Click here to add a new movie to your list.<br>
<a href="/movies/new">Add movie</a><br><br>
<a href="/logout">Log out</a>